.App header,
footer {
  text-align: center;
  color: #f3e7ac;
}

.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(112.1deg, rgb(13, 26, 70) 11.4%, rgb(14, 27, 70) 70.2%);
}

.App .container {
  max-width: 830px;
  padding: 0 30px 115px;
  background: #0d1a46;
}

.App header {
  padding: 25px;
}

.App header h1 {
  font-size: 60px;
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  letter-spacing: 6px;
}

.App footer {
  margin-top: 5px;
  font-size: 10px;
}

@media (max-width: 553px) {
  .App .container {
    padding: 0 20px 5px;
  }

  .App footer {
    font-size: 12px;
  }
}
