.App .container {
  max-width: 1030px;
  margin: 40px auto;
  padding: 30px 15px;
  background-color: #ffffff;
  border-radius: 2mm;
  box-shadow: 3px 3px 9px rgb(222, 219, 219);
}

.App header,
footer {
  text-align: center;
}

.App header h1 {
  color: black;
  ;
}

.App footer {
  margin: 0 auto;
  font-size: 10px;
}
