.App .container {
  margin: 30px auto 0;
  padding: 30px 15px;
  background-color: pink;
  border-radius: 1mm;
}

.App header,
footer {
  text-align: center;
}

.App header h1 {
  color: black;
  ;
}

.App footer {
  margin: 0 auto;
  font-size: 10px;
}
