.Meaning {
    margin: 10px auto;
    padding: 25px;
    border-radius: 1.5mm;
    background-color: rgba(254, 214, 227);
}

.Meaning .definition {
    margin-bottom: 10px;
    font-style: italic;
}

.Meaning h5 {
    margin-bottom: 3px;
}

.Meaning .example {
    margin-bottom: 2px;
    font-weight: 500;
}
