.Meaning {
    margin: 10px auto;
    padding: 15px;
    border-radius: 1.5mm;
    background-color: #c6c6c6d8;
}

.Meaning .definition {
    margin-bottom: 5px;
    font-style: italic;
}

.Meaning h5 {
    margin-bottom: 3px;
}
