.Meaning {
    margin: 8px auto;
    padding: 20px;
    border-radius: 1.5mm;
    background-color: rgb(254, 245, 214);
}

.Meaning .definition {
    margin-bottom: 5px;
}

.Meaning h5 {
    margin-bottom: 3px;
}

.Meaning .example {
    margin-bottom: 2px;
    font-weight: 500;
}
