.Results .word,
.Results .definition {
    border-radius: 2mm;
}

.Results {
    margin: 0 2px;
}

.Results .word {
    margin-bottom: 10px;
    padding: 25px;
    color: #ffffff;
    background: #0f2778;
}

.Results h3 {
    margin-bottom: 2px;
    font-size: 30px;
}

@media (max-width: 553px) {
    .Results .Meaning {
        font-size: 20px;
    }

    .Results h3 {
        font-size: 34px;
    }
}
