.Results .word,
.Results .definition {
    border-radius: 2mm;
}

.Results {
    margin-left: 2px;
}

.Results .word {
    margin-bottom: 10px;
    padding: 25px;
    background: rgb(15, 39, 120);
    color: white;
}

.Results h3 {
    margin-bottom: 2px;
    font-size: 30px;
}
