.Synonym .synonym-title {
    margin-bottom: 1px;
    font-weight: 500;
}

.Synonym ul {
    margin: 0;
    padding: 0;
}

.Synonym li {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    color: #4d4d4d;
}
